.todo-app {
    background-color: #333;
    color: #fff;
  }
  
  .todo-app input[type='text'] {
    background-color: #222;
    color: #fff;
  }
  
  .todo-app .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .todo-app .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .todo-app .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .todo-app .btn-danger:hover {
    background-color: #a71d2a;
    border-color: #a71d2a;
  }
  
  .todo-app .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .todo-app .btn-success:hover {
    background-color: #19692c;
    border-color: #19692c;
  }
  .todo-app .list-group-item {
    background-color: #444;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .todo-app .list-group-item input[type='text'] {
    background-color: #222;
    color: #fff;
    margin-right: 10px;
  }
  
  .todo-app .list-group-item span {
    color: #fff;
  }
  
  .todo-app .btn-group {
    display: flex;
    align-items: center;
  }
  
  
  .todo-app h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
  }
  

  